{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="conteneurF">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger Info--connect">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="alert alert-danger Info--connect">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class="img--arbre">
            <div class="logo--connect">
                <img class="Arbre" src={{ asset ("Image/NicePng_lord-of-the-rings_8443714.png") }} alt="lord-of-the-rings">
            </div>
            </div>
            <div class="titre--connexion flex--center">
                <h1 class="">Connexion</h1>
            </div>
            <div class="form--connexion">
                <div class="Email">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           class="input-format respond"
                           autocomplete="email"
                           required autofocus placeholder="Email">
                </div>
                <div class="Password">
                    <input type="password" name="password" id="inputPassword" class="input-format"
                           autocomplete="current-password"
                           required placeholder="Password">
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </div>
            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}
            <div class="submit">
                <button class="button-submit" type="submit">
                    Connexion
                </button>
            </div>
        </form>
    </section>

{% endblock %}
