{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<section class="cont--insc">
    <div class="img--tree">
        <div class="logo--connect">
            <img class="tree" src={{ asset ("Image/NicePng_lord-of-the-rings_8443714.png") }} alt="lord-of-the-rings">
        </div>
    </div>
    <div class="title--insc">
        <h1>S'inscrire</h1>
    </div>
    {{ form_start(registrationForm) }}
    <div class="form--insc">
        <div class="civilite">
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        </div>
        <div class="pseudo">
            {{ form_row(registrationForm.pseudo) }}
        </div>
        <div class="insc--email">
            {{ form_row(registrationForm.email) }}
        </div>
        <div class="insc--Password">
            {{ form_row(registrationForm.plainPassword, {
            }) }}
        </div>
        <div class="agree--terms">
                {{ form_row(registrationForm.agreeTerms, {
                'label': 'Accepter les conditions',
                'label_attr': {'class': 'label--Accep'
                }
            }) }}
            Détails <a href="{{ path('cgu') }}"> CGU </a> et <a href="{{ path('politique') }}"> politique de confidentialiés</a>
        </div>
    </div>
        <div class="submit--insc">
            <button type="submit" class="button-Insc">S'inscrire</button>
        </div>
</section>
    {{ form_end(registrationForm) }}
{% endblock %}
