{%  extends 'base.html.twig' %}

{% block body %}
    <section class="Dashboard">
        <div class="titreDash">
            <h1>
                Admin Comment
            </h1>
        </div>
        <table class="table table_striped">

            <thead class="tableau">
            <th> Id </th>
            <th> Titre </th>
            <th> User </th>
            <th> Date </th>
            <th> Wiki </th>
            <th> Contenu </th>
            <th> MAJ </th>
            <th> E/D/<a class="new" href="{{ path('wiki_new') }}">New</a></th>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr class="StyleDash">
                    <td>
                        {{ comment.id }}
                    </td>
                    <td>
                        {{ comment.titre }}
                    </td>
                    <td>
                        {% if comment.user %}
                        {{ comment.user.pseudo }}
                        {% endif %}
                    </td>
                    <td>
                        {{ comment.date|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ comment.wiki }}
                    </td>
                    {% for wiki in comment.wiki %}
                        <td class="Nom-wiki">
                            {{ wiki }}
                        </td>
                    {% endfor %}
                    <td>
                        {{ comment.contenu }}
                    </td>
                    <td>
                        {{ comment.updateAt|date('d-m-Y') }}
                    </td>
                    <td class="crud">
                        <a class="edit" href="{{ path('comment_edit', {id: comment.id}) }}">
                            <i class="fa-solid fa-pen text-primary"></i>
                        </a>
                        <a class="delete" href="{{ path('comment_delete', {id: comment.id}) }}">
                            <i class="fa fa-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>



        </table>

    </section>
{% endblock body %}