{% extends 'base.html.twig' %}

{% block body %}
    <section class="section--new--wiki">
        <div class="container--contact">
            <div class="image--contact">
                <img class="ring" src="{{ asset ("Image/image.png") }}" alt="Anneau">
            </div>
        </div>
        <div class="title--edit--wiki">
            <h1 class="title--new">
                Edition d'article
            </h1>
        </div>

        {{ form_start(form) }}
        <div class="containerW">
            <div class="container--editWiki">
                <div class="container--EditParam">
                    <div class="edit--title">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="edit--user">
                        {{ form_row(form.user) }}
                    </div>
                    <div class="edit--content">
                        {{ form_row(form.content) }}
                    </div>
                </div>
                <div class="conteneur--editImg">
                    <div class="edit--image_file">
                        {{ form_row(form.imageFile) }}
                    </div>
                </div>
            </div>
                <div class="edit--category">
                    {{ form_row(form.category) }}
                </div>
        </div>
        <div class="save--new">
            {{ form_row(form.save) }}
        </div>

        {{ form_end(form) }}
    </section>
{% endblock body %}