{% extends 'base.html.twig' %}

{% block body %}
    <article class="detail">
        <div class="detail--title">
        <h2>
            {{ wiki.titre }}
        </h2>
        </div>
        <div class="container--details">
        <div class="details--content">
        <p>
            {{ wiki.contenu }}
        </p>
        </div>
        <div class="details--image">
            <img class="img--details" src="{{ vich_uploader_asset(wiki, 'imageFile') }}">
        </div>
        </div>

        <div class="comments">
            <h4 class="title--comment">
                {{ wiki.comments|length }} commentaire(s)
            </h4>
            <div class="comment--wiki">
                {% for comment in wiki.comments %}
                    <div class="comment--detail">
                        <p class="date--comment"> Du : <span> {{ comment.date | date('d-m-y') }} </span></p>
                        <p class="user--comment"> De: <span> {% if comment.user %}{{ comment.user.pseudo }} {% endif %} </span></p>
                        <p class="user--comment"> Titre : <span> {{ comment.titre }} </span></p>
                        <p class="content--comment"><span> {{ comment.contenu }} </span></p>
                    </div>
                {% endfor %}
            </div>

            <div class="new--comment">
                <h4 class="title--newComment">
                    Votre opinion est intéressante !
                </h4>
                <div class="form--newComment">
                    {% if app.user %}
                        {{ form(newComment) }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="detail--category">
            <div class="title--details">
            <h3>Categories</h3>
            </div>
            <div class="detail-category">
            <ul class="category">
                {% for categorie in wiki.categories %}
                    <li>{{ categorie }}</li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </article>

{% endblock %}