{% extends 'base.html.twig' %}

{% block body %}
    <section class="dashboard">
        <div class="title--dash">
            <h1>
                Admin Wiki
            </h1>
        </div>
        <table class="table table_striped">

            <thead class="table">
            <th> Id</th>
            <th> Title</th>
            <th> Date</th>
            <th> User</th>
            <th> Contenu</th>
            <th> Categorie</th>
            <th> MAJ </th>
            <th> E/D/<a class="new" href="{{ path('wiki_new') }}">New</a></th>
            </thead>
            <tbody>
            {% for wiki in wikis %}
                <tr class="style--dash">
                    <td>
                        {{ wiki.id}}
                    </td>
                    <td>
                        {{ wiki.title}}
                    </td>
                    <td>
                        {{ wiki.date|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ wiki.user.pseudo }}
                    </td>
                    <td>
                        {{ wiki.content }}
                    </td>
                    {% for category in wiki.category %}
                        <td class="name--wiki">
                            {{ category }}
                        </td>
                    {% endfor %}
                    <td>
                        {{ wiki.updatedAt|date('d-m-Y') }}
                    </td>
                    <td class="crud">
                        <a class="edit" href="{{ path('wiki_wiki_edit', {id: wiki.id }) }}">
                            <i class="fa-solid fa-pen text-primary"></i>
                        </a>
                        <a class="delete" href="{{ path('wiki_delete', {id: wiki.id}) }}">
                            <i class="fa fa-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}