{% extends 'base.html.twig' %}

{% block body %}
<section class="Section--New--Wiki">
    <div class="img--arbre">
        <div class="logo--connect">
            <img class="Arbre" src={{ asset ("Image/NicePng_lord-of-the-rings_8443714.png") }} alt="lord-of-the-rings">
        </div>
    </div>
    <div class="Titre--New--Wiki">
        <h1 class="Titre--New">
            Générer un article
        </h1>
    </div>

    {{ form_start(form) }}
    <div class="conteneurN">
        <div class="New--Titre">
            {{ form_row(form.titre) }}
        </div>
        <div class="New--User">
            {{ form_row(form.user) }}
        </div>
        <div class="New--image_file">
            {{ form_row(form.imageFile) }}
        </div>
        <div class="New--Categorie">
            {{ form_row(form.categories) }}
        </div>
    </div>
    <div class="Save--New">
        {{ form_row(form.save) }}
    </div>

    {{ form_end(form) }}
</section>
    {% endblock body %}