{% extends 'base.html.twig' %}

{% block body %}
<section class="section--new--wiki">
    <div class="img--arbre">
        <div class="logo--connect">
            <img class="Arbre" src={{ asset ("Image/NicePng_lord-of-the-rings_8443714.png") }} alt="lord-of-the-rings">
        </div>
    </div>
    <div class="titre--new--wiki">
        <h1 class="titre--new">
            Générer un article
        </h1>
    </div>

    {{ form_start(form) }}
    <div class="conteneurN">
        <div class="new--titre">
            {{ form_row(form.titre) }}
        </div>
        <div class="new--user">
            {{ form_row(form.user) }}
        </div>
        <div class="new--url">
            {{ form_row(form.url) }}
        </div>
        <div class="new--image_file">
            {{ form_row(form.imageFile) }}
        </div>
        <div class="new--categorie">
            {{ form_row(form.categories) }}
        </div>
    </div>
    <div class="save--new">
        {{ form_row(form.save) }}
    </div>

    {{ form_end(form) }}
</section>
    {% endblock body %}