{% extends 'base.html.twig' %}

{% block body %}
    <section class="section--new--wiki">
        <div class="conteneur--contact">
            <div class="image--contact">
                <img class="anneau" src={{ asset ("Image/image.png") }} alt="LOTR">
            </div>
        </div>
        <div class="titre--edit--wiki">
            <h1 class="titre--new">
                Edition d'article
            </h1>
        </div>

        {{ form_start(form) }}
        <div class="conteneurW">
            <div class="conteneurEditParam">
                <div class="edit--titre">
                    {{ form_row(form.titre) }}
                </div>
                <div class="edit--user">
                    {{ form_row(form.user) }}
                </div>
                <div class="edit--contenu">
                    {{ form_row(form.contenu) }}
                </div>
            </div>
            <div class="conteneur--editImg">
                <div class="edit--image_file">
                    {{ form_row(form.imageFile) }}
                </div>
                <div class="edit--categorie">
                    {{ form_row(form.categories) }}
                </div>
            </div>
        </div>
        <div class="save--New">
            {{ form_row(form.save) }}
        </div>

        {{ form_end(form) }}
    </section>
{% endblock body %}