{% extends 'base.html.twig' %}

{% block body %}
    <article class="Detail">
        <div class="Detail--Titre">
        <h2>
            {{ wiki.titre }}
        </h2>
        </div>
        <div class="ConteneurDetails">
        <div class="Details--Contenu">
        <p>
            {{ wiki.contenu }}
        </p>
        </div>
        <div class="Details--Image">
            <img class="img-Details" src="{{ vich_uploader_asset(wiki, 'imageFile') }}">
        </div>
        </div>
        <div class="Commentaire">

        </div>
        <div class="comments">
            <h4 class="title--comment">
                {{ wiki.comments|length }} commentaire(s)
            </h4>
            <div class="comment--wiki">
                {% for comment in wiki.comments %}
                    <div class="comment--detail">
                        <p class="date--comment"> Du : <span> {{ comment.date | date('d-m-y') }} </span></p>
{#                        <p class="user--comment"> De: <span> {{ comment.user.firstName }}</span></p>#}
                        <p class="user--comment"> Titre : <span> {{ comment.titre }} </span></p>
                        <p class="contenu--comment"><span> {{ comment.contenu }} </span></p>
                    </div>
                {% endfor %}
            </div>

            <div class="new--comment">
                <h4 class="title--newComment">
                    Votre opinion est intéressante !
                </h4>
                <div class="form--newComment">
                    {% if app.user %}
                        {{ form(newComment) }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="Detail--Categorie">
            <div class="Titre--Details">
            <h3>Categories</h3>
            </div>
            <div class="Detail-Categories">
            <ul class="Categorie">
                {% for categorie in wiki.categories %}
                    <li>{{ categorie }}</li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </article>

{% endblock %}