{% extends 'base.html.twig' %}

{% block body %}
    <section class="carousel">
        <div class="slider">
            <img class="img--slider active" src="{{ asset ("Image/slider1.jpg") }}" alt="img1">
            <img class="img--slider" src="{{ asset ("Image/slider2.jpg") }}" alt="img2">
            <img class="img--slider" src="{{ asset ("Image/slider3.jpg") }}" alt="img3">
            <img class="img--slider" src="{{ asset ("Image/slider4.jpg") }}" alt="img4">
            <img class="img--slider" src="{{ asset ("Image/slider5.jpg") }}" alt="img5">
            <div class="suivant">
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="precedent">
                <i class="fas fa-chevron-left"></i>
            </div>
        </div>
    </section>

    <section class="DernierWiki">
        <div class="Titre--DernierWiki">
            <h3>
                Dernier Article
            </h3>
        </div>
        <div class="Card--Dernier">
            {% for lastwiki in lastwikis %}
                <div class="Card--Home">
                    <div class="Image--Home">
{#                        {% if lastwiki.imageName %}#}
{#                            <img src="{{ vich_uploader_asset(lastwiki, 'imageFile') }}" class="img-Home" alt="image_name">#}
{#                        {% else %}#}
{#                            <img src="https://cdn.pixabay.com/photo/2014/04/02/11/14/book-305625_1280.png"#}
{#                                 class="img-carte"#}
{#                                 alt="Default-image">#}
{#                        {% endif %}#}
                        <div class="Title--Home">
                            <a href="{{ path('wiki_detail', {id: lastwiki.id}) }}" class="title-carte" target="_blank"><h5 class="title-carte">{{ lastwiki.titre }}</h5></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="carousel--Card">
        <div class="titre--CarouselCard">
            <h3>
                Wiki
            </h3>
        </div>

        <div class="container--CarouselCard">
            {% for wiki in wikis|slice(2, 4) %}
                <div class="box">
                    <div class="characters-img">
                        <img src="{{ vich_uploader_asset(wiki, 'imageFile') }}" class="img--CarouselCard"
                             alt="image_name">

                        <div class="lien--details">
                            <a href="{{ path('wiki_detail', {id: wiki.id}) }}" class="title-carte" target="_blank"><h5 class="title-carte">{{ wiki.titre }}</h5></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="conteneur--bio">
        <div class="biographie">
            <p>
                John Ronald Reuel Tolkien, plus connu sous sa signature : J. R. R. Tolkien, est un écrivain, poète, philologue et professeur d'université anglais.
                Il est principalement connu en tant qu'auteur des romans de high fantasy "Bilbo le Hobbit" et "Le Seigneur des anneaux".
            </p>
        </div>
        <div class="image--bio">
            <img src="{{ asset('Image/th.jfif') }}" alt="Tolkien">
        </div>
    </section>


{% endblock body %}