{% extends 'base.html.twig' %}

{% block body %}
    <section class="carousel">
        <div class="slider">
            <img class="img--slider active" src="{{ asset ("Image/slider1.jpg") }}" alt="img1">
            <img class="img--slider" src="{{ asset ("Image/slider2.jpg") }}" alt="img2">
            <img class="img--slider" src="{{ asset ("Image/slider3.jpg") }}" alt="img3">
            <img class="img--slider" src="{{ asset ("Image/slider4.jpg") }}" alt="img4">
            <img class="img--slider" src="{{ asset ("Image/slider5.jpg") }}" alt="img5">
            <div class="suivant">
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="precedent">
                <i class="fas fa-chevron-left"></i>
            </div>
        </div>
    </section>

    <section class="last--wiki">
        <div class="title--dernierWiki">
            <h3>
                Dernier Article
            </h3>
        </div>
        <div class="last--card">
            {% for wiki in wikis|slice(2 ,4) %}
                <div class="card--home">
                    <div class="image--home">
                        {% if wiki.imageName %}
                            <img src="{{ vich_uploader_asset(wiki, 'imageFile') }}" class="img--home" alt="image_name">
                        {% else %}
                            <img src="https://cdn.pixabay.com/photo/2014/04/02/11/14/book-305625_1280.png"
                                 class="img-carte"
                                 alt="Default-image">
                        {% endif %}
                        <div class="conteneur--details">
                            <div class="lien--details">
                                <a href="{{ path('wiki_detail', {id: wiki.id}) }}" class="title--carte" target="_blank"><h5 class="title--carte">{{ wiki.titre }}</h5></a>
                            </div>
                            <div class="title--details display--card">
                                <a href="{{ path('wiki_detail', {id: wiki.id}) }}" class="title--carte" target="_blank"><h5 class="title--carte">Détails</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="carousel--card">
        <div class="titre--carouselCard">
            <h3>
                Wiki
            </h3>
        </div>

        <div class="container--carouselCard">
            {% for wiki in wikis|slice(2, 4) %}
                <div class="box">
                    <div class="characters--img">
                        <img src="{{ vich_uploader_asset(wiki, 'imageFile') }}" class="img--carouselCard"
                             alt="image_name">

                        <div class="conteneur--details">
                        <div class="lien--details">
                            <a href="{{ path('wiki_detail', {id: wiki.id}) }}" class="title--carte" target="_blank"><h5 class="title--carte">{{ wiki.titre }}</h5></a>
                        </div>
                        <div class="title--details display--card">
                            <a href="{{ path('wiki_detail', {id: wiki.id}) }}" class="title--carte" target="_blank"><h5 class="title--carte">Détails</h5></a>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="container--bio">
        <div class="biography">
            <p>
                John Ronald Reuel Tolkien, plus connu sous sa signature : J. R. R. Tolkien, est un écrivain, poète, philologue et professeur d'université anglais.
                Il est principalement connu en tant qu'auteur des romans de high fantasy "Bilbo le Hobbit" et "Le Seigneur des anneaux".
            </p>
        </div>
        <div class="image--bio">
            <img src="{{ asset('Image/th.jfif') }}" alt="Tolkien">
        </div>
    </section>


{% endblock body %}