{% extends 'base.html.twig' %}

{% block body %}

<div id="search-form">
    <div id="search-form-content">
        {{ form_start(form)}}
        <div class="containerS">
            <div class="search--title">
                {{form_row(form.title)}}
            </div>
            <div class="search--category">
                {{form_row(form.categories)}}
            </div>
        </div>
        <div class="submit">
            {{ form_row(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
    <section class="container--wiki">
        <div class="container--card">
            {% for wiki in wikis %}
                <div class="card--image">
                    <div class="image--wiki">
                        {% if wiki.imageName %}
                            <img src="{{ vich_uploader_asset(wiki, 'imageFile') }}" class="img--card" alt="image_name">
                        {% else %}
                            <img src="https://cdn.pixabay.com/photo/2014/04/02/11/14/book-305625_1280.png"
                                 class="img--card"
                                 alt="Default-image">
                        {% endif %}
                        <div class="container--title">
                            <div class="title display--card">
                                <a href="{{ path('wiki_detail', {id: wiki.id}) }}" class="title--carte" target="_blank"><h5 class="title--carte">{{ wiki.title }}</h5></a>
                            </div>
                            <div class="title--details">
                                <a href="{{ path('wiki_detail', {id: wiki.id}) }}" class="title--carte" target="_blank"><h5 class="title--carte">Détails</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="title--respond">
                        <h5 class="title--card">
                            {{ wiki.title }}
                        </h5>
                        <div class="disappear">
                            <div class="arrow">
                                <p class="details">
                                    <a href="{{ path('wiki_detail', {id: wiki.id}) }}">DÉTAILS</a>
                                </p>
                                <i class="fa-solid fa-arrow-right-long"></i>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock body %}
