{% extends 'base.html.twig' %}

{% block body %}
<section class="Section--Edit">
    <div class="ConTitre">
        <h1 class="Titre--Edit">
            Édition d'Utilisateur
        </h1>
    </div>

    {{ form_start(form) }}
    <div class="conteneurE">
        <div class="Edit--Name">
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
        </div>
        <div class="Edit--Email">
            {{ form_row(form.email) }}
        </div>
        <div class="Edit--roles">
            {{ form_row(form.roles, {
                'label_attr': {'class': 'label--roles'}
            }) }}
        </div>
    </div>
    <div class="Save--Edit">
        {{ form_row(form.save) }}
    </div>
    {{ form_end(form) }}
    {% endblock %}

    {% block title %}

</section>

{% endblock %}